body {  
    font-family: Arial, sans-serif;  
    margin: 20px;  
    background-color: #f7f7f7;  
}  

h1 {  
    color: #f509b6;  
}  

h2 {  
    color: #21b79e;  
}  

iframe {  
    margin-bottom: 20px;  
    border: 1px solid #ccc;  
    border-radius: 8px;  
    background-color: #fff;  
}  

.wrapper{
    margin:0 auto;
    width:1200px;
}

body{
    background-color: #f3f5f7;
}

.header{
    height:100px;
    background-color: #fff;
}

.header .wrapper{
    padding-top:29px;
    display: flex;
}

.nav  {
    margin-left:102px;
}


.nav ul {
    display: flex;
}

.nav li {
    margin-right: 24px;
}

.nav li a{
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size:19px;
}

.nav li .active
.nav li a:hover{
    border-bottom:2px solid #00a4ff;
}

