body {  
    font-family: Arial, sans-serif;  
    margin: 20px;  
    background-color: #f7f7f7;  
}  

h1 {  
    color: #f509b6;  
}  

h2 {  
    color: #21b79e;  
}  

iframe {  
    margin-bottom: 20px;  
    border: 1px solid #ccc;  
    border-radius: 8px;  
    background-color: #fff;  
}  
